#coin button {
  margin-right: 5px;
  padding: 5px;
  font-size: 25px;
}

#money input {
  margin: 0 10px;
  width: 200px;
  height: 30px;
  font-size: 20px;
}

#beverage button {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}

#beverage button span {
  font-size: 18px;
}

#output_box {
  width: 1000px;
  height: 300px;
  border: 3px solid #000;
  overflow: scroll;
}

#output_box::-webkit-scrollbar {
  display: none;
}

.buydrink {
  background-color: yellow;
}